image: registry.gitlab.com/libtiff/libtiff-ci-ubuntu24.04:latest
include:
  - component: gitlab.com/components/sast/sast@add-clangsa
    inputs:
      stage: static-analysis

stages:
  - build
  - static-analysis
  - pages


.cdb_cache:
  # see https://docs.gitlab.com/ci/yaml/#cache
  cache: &cdb_cache
    key:
      files:
        - Makefile.am
        - libtiff/
    paths:
      - compile_commands.json

clangsa-sast:
  cache:
    <<: *cdb_cache
    policy: pull

autoconf-current:
  stage: build
  script:
    - sh build/gitlab-ci autoconf
  after_script:
    - 'cat autoconf-build/test/test-suite.log'
  artifacts:
    name: distribution
    paths:
    - distribution
  cache:
    <<: *cdb_cache
    policy: pull-push

autoconf-old:
  stage: build
  image: registry.gitlab.com/libtiff/libtiff-ci-ubuntu22.04:latest
  script:
    - sh build/gitlab-ci autoconf-minimal
  after_script:
    - 'cat autoconf-build/test/test-suite.log'

cmake-makefiles-current:
  stage: build
  script:
    - sh build/gitlab-ci cmake "Unix Makefiles" Release

cmake-makefiles-current-static:
  stage: build
  script:
    - sh build/gitlab-ci cmake "Unix Makefiles" Release static

cmake-ninja-current:
  stage: build
  script:
    - sh build/gitlab-ci cmake "Ninja" Debug

cmake-makefiles-old:
  stage: build
  image: registry.gitlab.com/libtiff/libtiff-ci-ubuntu22.04:latest
  script:
    - sh build/gitlab-ci cmake "Unix Makefiles" Release

pages:
  stage: pages
  script:
    - sh build/gitlab-ci cmake "Ninja" Debug
    - cp -r cmake-install/share/doc/tiff/manual/html public
  artifacts:
    name: $CI_PROJECT_NAME-$CI_JOB_NAME
    paths:
    - public
  only:
  - master
